@import "tailwindcss";
/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Backgrounds */
  --bg-primary: #DCDDE4;      /* Main sections */
  --bg-secondary: #C9CBD6;    /* Cards / dividers */
  --bg-white-soft: #F7F7FA;   /* Cards */

  /* Accents */
  --accent-gold: #E6D89A;
  --accent-gold-border: #C6B874;

  /* Text */
  --text-heading: #3F4358;
  --text-body: #5C6076;
  --text-muted: #B5B7C3;
  --text-footer: #2F2F3A;
}
